.ForgotPasswordLabel{
    text-align:left;
    color:red
}

.ForgotPasswordPanel{
    flex: 1;
    padding-left:40px;
    padding-right: 40px;
}

.ForgotPasswordForm{
    margin-top:50px;
}

.ForgotPasswordForm a {
    display: block;
    margin:10px;
}

.ForgotPasswordForm label{
    font-size: 1.1rem;
    display: block;
    margin: 10px;
    
}

.ForgotPasswordForm p{
    color:red
}
.ForgotPasswordForm .SuccessMsg{
    color:green;
}
.ForgotPasswordForm input{
    margin-top: 60px;
}