.Welcome{
    border-right: solid 1px #C4C4C4;
    flex: 1;
    padding-left: 40px;
    padding-right:40px;
}

.Logo{
    background-color: #4431D1;
    border-radius: 50%;
}

.Logo img{
    margin:40px;
}