.ResetPasswordPanel{
    flex: 1;
    padding-left:40px;
    padding-right: 40px;
}

.ResetPasswordForm{
    margin-top:50px;
}

.ResetPasswordForm a{
    display: block;
    margin:10px;
}

.ResetPasswordForm input{
    margin:50px;

}

.ErrorMsg{
    color: red;
}


