.verifyOverlay{
    text-align: center;
	padding:30px;
	padding-top:10px;
}

.verifyOverlay{
    font-size: 20px;
}


.verifyOverlay input{
    border-color: #4431D1;
	border-left:none;
	border-right:none;
	border-top:none;
	font-size: 1rem;
	margin-top:50px;
    margin-bottom: 30px;
	padding: 0;
	transition:100ms;
	min-width: 190px;
}

.verifyOverlay button{
    border-radius: 5px;
	border: none;
    background-color: #4431D1;
	color: white;
	display: block;
	font-size: 1.125rem;
	font-weight: 600;
	margin: 20px auto 40px auto;
	padding: 11px 0px;
	transition: 150ms;
    width:70%;
    cursor: pointer;
}

.verifyOverlay button:hover{
    background-color: #5E4BEB;
}

.verifyOverlay button:disabled{
	background-color: #b4aded;
	cursor: default;
}
.Errmsg{
    color: red;
    font-size: 15px;
    margin:10px;
}